@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
  font-family:Raleway;
/*  overflow: hidden;*/
}
*{
    text-decoration: none;
}
@media  (min-width: 700px) and (max-width:990px) {
.sidenav-tabs-first{
    height: 50px!important;
}
h5{
    font-size: 16px!important;
}
.sidenav-tabs{
    height: 50px!important;
    margin-top:2px!important;
}
.logo-img{
    width: 150px!important;
    height: 100px!important;
}
.nav-link {
    padding: .5rem 2rem!important;
}
.custom-nav {
    height: 50px!important;
    width: 192px!important;
}
}
@media  (min-width: 1000px) and (max-width:1500px) {
.logo-img{
    width: 160px!important;
    height: 100px!important;
}
h5{
    font-size: 18px!important;
}
h6{
    font-size: 15px!important;
}
.h4, h4 {
    font-size: 1.2rem!important;
}
.sidenav-tabs-first{
    height: 50px!important;
}
.sidenav-tabs{
    height: 50px!important;
    margin-top: 2px!important;
}
.Sidenav-powered-by{
    left: 20%!important;
}
.nav-link {
    padding: 0.4rem 5rem!important;
}
.custom-nav {
    height: 40px!important;
    width: 284px!important;
}
input[type=checkbox] {
    transform: scale(1.2)!important;
    margin-top: 5px!important;
}
.check-text{
    font-size: 15px!important;
}
.custom-cards {
    padding: 10px!important;
}
.check-All{
    margin-left: 15px!important;
}
.custom-btn {
    width: 130px!important;
    height: 50px!important;
}
.icons-size-content {
    width: 20px!important;
    margin: 0 2px!important;
}
.listViewSearch {
    margin: 50px 0px 0px!important;
    padding: 2px!important;
}
.content-upload-btn{
    padding: .5rem!important;
}
.icons-size-upload{
    width: 30px!important;
    margin: 0 15px!important;
}
}
@media  (min-width: 1900px) and (max-width:2500px) {
    ::-webkit-scrollbar { 
    display: none; 
}
}


.sidenav{
    background-color: #53010c;
    min-height: 100vh;
    position: fixed;
    left: 0;
}
.body-header{
    background-color: #53010c;
    height: 70px;
}
.body-body{
   overflow-y: scroll;
   margin-bottom: 100px;
   height: calc(100vh - 70px);
}
.sidenav-tabs-first{
    height: 70px;
    background-color:#9e0317;
    margin-top: 70px;
    color: white;
}
.sidenav-tabs-first:hover {
    background-color: #6c0311;
}
.sidenav-tabs:hover {
    background-color: #6c0311;
}
.sidenav-tabs{
    height: 70px;
    background-color:#9e0317;
    margin-top: 2px;
    color: white;
}
.Sidenav-powered-by{
    position: absolute;
    bottom: 0;
    left: 15%;
}
.logo-img{
    width: 250px;
    height: 120px;
}
.content-side{
    position: fixed;
    right: 0;
}
.user-menu-custom-btn {
    color: #fff;
    background-color: #53010c;
    border-color: #53010c;
    height: 70px;
    width: 100%;
    border-radius: 0!important;
}
.user-menu-custom-btn:hover{
    color: black;
    background-color: #fff;
    border-color: #fff; 
}
.user-menu-custom-btn:hover #user-profile-img{
    filter: none!important;
}
.user-menu-custom-btn:focus{
    color: black;
    background-color: #fff;
    border-color: #fff; 
    box-shadow: none;
}
.imagecolorinvert{
    filter: invert(100%);
}
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #53010c;
    border-color: #53010c;
}
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
    background-color: #ffff;
    color: black;

}
.show>.btn-secondary.dropdown-toggle:focus #user-profile-img{
    filter: none!important;
}
#user-profile-img:hover{
    filter: none!important;
}
.btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    color: #fff;
    background-color: #53010c;
    border-color: #53010c;
}
.dropdown-menu {
    min-width: 15rem!important;
    border-radius: 0!important; 
    padding: 0!important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #53010c;
}
a:hover {
    text-decoration: none;
}


/*Admin-Add User CSS*/
.form-container{
    padding-top: 2%;
}
.form-control {
    border-radius: 0rem!important;
    border: 1px solid #53010c!important;
}
.custom-select {
    border-radius: 0rem!important;
        border: 1px solid #53010c!important;
}
.custom-file-label {
    border-radius: 0rem!important;
}
.btn-primary {
    color: #fff;
    border-radius: 0!important;
    background-color: #53010c!important;
    border-color: #53010c!important;
}
.btn-primary:hover {
    background-color: rgba(83, 1, 12, .8)!important;
    border-color: rgba(83, 1, 12, .8)!important;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none!important;
}
.invalid-feedback {
   color: #ff0505!important;
}
.form-control:focus {
    border-color: #53010c!important;
    box-shadow: 0 0 0 0.2rem rgba(83, 1, 12, .3)!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff!important;
    background-color: #53010c!important;
    border-color: #53010c #53010c #53010c!important;
}
.nav-tabs .nav-link{
    border-radius:0!important; 
}
.nav-item >a{
    color: #53010c!important;
}
.nav-tabs {
     border-bottom: none!important; 
}
.custom-select:focus {
    border-color: #53010c!important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 0 0 5px rgb(83, 1, 12)!important;
}
.custom-nav{
    height: 70px;
    width: 400px;
}
.nav-link {
    padding: 1.4rem 8.5rem;
}


/*permission css*/
.icons-size{
    width: 25px;
    margin: 0 10px;
}
.icons-size-search{
    width: 35px;
    margin: 0 20px;
}
.table td, .table th {
    padding: .8rem!important;
    vertical-align: top!important;
    border: 1.5px solid #53010c!important;
}
.table thead th {
    vertical-align: bottom;
}

.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 60%;
}

.enjoy-css:focus {
    border:none;
    outline: none;
}
::placeholder{
    color:#53010c!important;
    font-size: 14px!important;
}
select > option{
    color:#53010c!important;   
}
::value{
    color:#53010c!important;
}
select#none:focus {
    background-color: white!important;
}

.validationCustomRole{
    height: 55px!important;
}
.custom-cards {
    background-color: #53010c;
    padding: 20px;
    margin: 30px 30px 0px 30px;
}
.custom-cards-body{
    border: 2px solid #53010c
}
input[type=checkbox] {
    transform: scale(1.8);
    color: #53010c;
    margin-top: 10px;
}
.check-text{
    color:#53010c;
    font-size: 22px;
}
.check-All{
    margin-left: 30px;
}
.custom-btn{
    width: 150px;
    height: 60px;
}
.create-role{
    border: 1px solid #53010c;
    margin: 60px 0 40px 0;
    padding: 15px;
}
.create-role-name{
    border: 1px solid #53010c;
    margin: 15px 10px;
    padding: 10px;
}
.create-role-name  h6{
    color: #53010c!important;
}
.font-color{
    color: #53010c;
}
.custom-editrole-cards{
    background-color: #53010c;
    padding: 10px;
}
.editRole-header{
    border: 2px solid #53010c;
    background-color: white;
    padding: 5px;
    margin: 50px 0 50px 0;
}
.list-group-item {
    border: 1px solid rgb(83, 1, 12)!important;
}
.listViewSearch{
    border: 1px solid #53010c;
    border-bottom: 0px;
    margin: 80px 0px 0px;
    padding: 5px;
}
.listViewComponent{
    border: 2px solid #53010c;
    margin: 30px auto;
}
.custom-select-list{
    border-radius: 0rem!important;
    border: none!important;
}
.custom-selct-list:focus{
    box-shadow: none!important;
}
.border-bottom {
    border-bottom: 2px solid #66010f!important;
}
.border-left {
    border-left: 2px solid #53010c!important;
}
.icons-size-content{
    width: 22px;
    margin: 0 8px; 
}
.content-upload-btn{
    padding: 1rem;
}
.icons-size-upload{
    width: 35px;
    margin: 0 20px;
}