@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
  font-family:Raleway;
  background-color: rgb(112,1,15);
}
@media  (min-width: 700px) and (max-width:990px) {
.Form-wrapper{
	width: 100%!important;
	left: 0%!important;
}
}
/*.Signup{
	background-color: rgb(112,1,15);
}*/
.Form-wrapper {
    width: 50%;
    min-height: 100%;
    margin: 0 auto;
    position: absolute;
    left: 25%;
    background-color: #53010c;
    background: linear-gradient(#70010f,#020202);
    box-shadow: 0 1px 10px 2px rgb(31, 2, 4);
}
.logo-wrapper{
	padding:3% 5%; 
}
.img-size{
	width: 300px;
    margin: 0 auto;
    height: 120px;
}
.form-container{
	padding-top: 2%;
}
.form-control {
    border-radius: 0rem!important;
}
.custom-select {
    border-radius: 0rem!important;
}
.custom-file-label {
    border-radius: 0rem!important;
}
.btn-primary {
    color: #fff;
    background-color: #ED1C24!important;
    border-color: #ED1C24!important;
}
.btn-primary:hover{
	background-color: rgb(167, 19, 38)!important;
    border-color: rgb(167, 19, 38)!important;
}
.invalid-feedback {
   color: #ff0505!important;
}